<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div>Create your marketing meail with AI</div>

    <div>Campaign Goal:</div>
    convince people to buy your product
    recover churned customers
    teach a new concept
    onboard new users
    share product updates

    <div>Brand Tone:</div>
    formal
    informal

    <div>Industry:</div>
    ex marketing, sales, etc

    <div>Tell us about the email you want to send:</div>
    text

    <div>Fine tune the outputs</div>
    website
    twitter
</div>