<!-- Begin nav bar -->
<header class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <img
          alt="Logo"
          src="images/logo.png"
          class="h-16"
        />
        </a>
      </div>
      <div class="hidden md:block">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            <li>
              <a
                hx-get="/home"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="/"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                About Me
              </a>
            </li>
            <li>
              <a
                hx-get="/projects"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="#"
              >
                Projects
              </a>
            </li>
            <li>
              <a
                hx-get="/resume"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Resume
              </a>
            </li>
            <li>
              <a
                class="text-gray-500 transition hover:text-gray-500/75"
                href="http://reader.earlcameron.com"
                target="new"
              >
                RSS
              </a>
            </li>
            <li>
              <a
                hx-get="/blog"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-get="/blog"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Blog
              </a>
            </li>
            <li>
              <a
                hx-get="/workshop"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Workshop
              </a>
            </li>
            <li>
              <a
                hx-get="/demo"
                hx-target="#main"
                hx-swap="innerHTML"
                hx-push-url="true"
                class="text-gray-500 transition hover:text-gray-500/75"
                href="/"
              >
                Demo
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- End nav bar -->
