<div class="container-fluid">
    <div class="mt-10 p-10 border rounded bg-yellow-50 shadow-lg">
        <button onclick="print()">Print</button>
        <zero-md id="resume" src="/resume/markdown">
            <template>
                <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/gh/sindresorhus/github-markdown-css@4/github-markdown.min.css" />
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PrismJS/prism@1/themes/prism.min.css" />
            </template>
            <script type="text/markdown">
        ---

        **Earl Cameron**
        Email: mr.e.cameron@gmail.com
        Portfolio: www.earlcameron.com

        ---

        **Professional Summary:**
        Full-stack JavaScript Developer with 4 years of hands-on experience in building robust applications across
        various platforms. Proven track record in spearheading AI chatbot prototypes, mentoring teams, and crafting
        intuitive dashboards. Adept at translating complex requirements into scalable solutions. Committed to continuous
        professional growth and delivering excellence.

        ---

        **Technical Skills:**

        - **Languages/Frameworks/Libraries:** JavaScript/ES6+, Node.js, Express.js, Angular, React.js, Jest.js, .NET,
        Blazor, HTMX, Python, Flask, Bootstrap
        - **Technologies:** MongoDB, MySQL, SQL, HTML, CSS3, JSON, WordPress, REST/HTTP, GIT
        - **Platforms:** Visual Studio, Visual Studio Code, Chrome Inspector, NetBeans, Linux, Terminal/Bash, GCP,
        Digital Ocean

        ---

        **Work Experience:**

        **UKG | Software Engineer**
        [2020 - Ongoing]
        [Website](https://www.ukg.com/)
        - Spearheaded the development of internal AI chatbot prototypes, enhancing customer interactions.
        - Designed and implemented a series of internal dashboards using React, Angular, .NET, Express, Blazor, HTMX,
        and SQL.
        - Mentored interns, fostering skill development and professional growth.
        - Boosted customer satisfaction ratings by refining software solutions and maintaining optimal service
        availability.

        **Ultimate Software | Cloud Engineer I**
        [2019 - 2020]
        [Website](https://www.ultimatesoftware.com/)
        - Played a pivotal role in resolving complex cloud infrastructure issues, ensuring a 99.9% uptime.
        - Collaborated cross-functionally to maintain high availability for all cloud services.

        **4Geeks Academy | Instructor/TA**
        [Contractor]
        [Website](https://www.4geeksacademy.co/)
        - Facilitated the comprehension of intricate coding concepts for over 100 students.
        - Demonstrated in-depth expertise in curriculum material, leading to a 20% increase in student pass rates.

        **HeyTutor | Tutor (HTML, CSS, JavaScript)**
        [Contractor]
        [Profile](https://heytutor.com/EarlCameron)
        - Achieved a 5-star review rating across 100+ tutoring hours, indicating consistent student satisfaction.

        ---

        **Education:**

        - **LaunchCode Tech Bootcamp**, Miami, FL [Completed 2019]
        - **Miami Dade College**, Miami, FL [Completed 2022]
        - **Florida International University**, Miami, FL [BA CompSci - Ongoing]
        Courses: Intro to C++, Visual Basic, Android Development, Java, Java/SpringBoot, Python/Flask

        ---

        **Project Experience:**

        **People Budget**
        [GitHub](https://github.com/CodeforSouth/peoplebudget)
        Technologies: React, Express, Node, MySQL, Axios, GIT, REST
        - Led a diverse team, enabling them to craft a participatory budgeting tool now under consideration by South
        Florida's local government.

        **MetaHumanServer**
        [GitHub](https://github.com/monstercameron/mdchem-mern)
        Technologies: Python, OpenAI Whisper, OpenAI ChatGPT, Picovoice, Flask
        - Pioneered advancements in speech recognition and text-to-speech technologies, achieving a 30% improvement in
        response latency.

        ---

        **Interests/Activities:**

        - Active participant in local hackathons, resulting in expanded professional networks.
        - Engages with global developer communities on Reddit: r/javascript, r/node, r/reactjs.
        - Electronic enthusiast with notable projects like [Pi Camera
        GUI](https://github.com/monstercameron/pi-camera-gui).
        - Pursuing fluency in Japanese via Duolingo.

        ---
    </script>
        </zero-md>
    </div>
</div>