<section class="grid grid-cols-1">
    <a href="<%= link %>" target="new"
        class="mx-auto mt-10 inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white">
        Go to Workshop
    </a>
</section>